.social-img{
    height: 30px;
    width: 30px;
    margin-bottom: 15px;
    margin-right:15px;
    border-radius: 50px;
    box-shadow: 0 0px 6px #66615b;
}
.divison{
    float: none;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    color: #66615b;
}
.line{
    border-top: 1px solid rgba(0,0,0,.2);
    width: 100%;
    position: relative;
    top:14px;
}
.login{
    margin-top: 20px;
    text-align: center;
}
.form-control:focus{
    box-shadow: none;
}
.register-btn{
    background-color: #fbb710;
    color: white;
    border-color: #fbb710;
    margin-top:30px;
}
.mg-20{
    margin-top:20px;
}